.tile-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  justify-items: center;
  padding: 4rem;
  transition: margin-left 0.5s;
}

.filter-open {
  padding: 1rem;
  gap: 2rem;
}
