@use "../../assets/styles/variables" as *;

.tile {
  display: grid;
  grid-template: 3fr 2fr / 1fr;
  background-color: $primary-color;
  width: 100%;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;

  &__image {
    display: block;
    max-height: 350px;
    width: 100%;
    width: auto;
    height: auto;
    margin: 2rem auto;
  }

  &__image-container {
    background-color: $secondary-color;
    width: 100%;
    border-radius: 0.9rem;
  }

  &__content {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template: 0.5fr 0.5fr 0.5fr 0.5fr / 1fr;
    text-align: center;
  }

  &__heading {
    font-size: 2rem;
    font-weight: normal;
  }

  &__bubble-container {
    display: flex;
    align-content: space-evenly;
  }
}
