@use "../../assets/styles/variables" as *;

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__label {
    margin: 0.2rem;
  }

  &__value {
    background-color: $secondary-color;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
