@use "../../assets/styles/variables" as *;

.side-filter {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary-color;
  padding-top: 1rem;

  &__contents {
    width: 0;
    overflow-x: hidden;
    transition: width 0.3s linear;

    * {
      padding: 0.2rem;
      @media screen and (min-width: $tablet-breakpoint) {
        padding: 0.5rem;
      }
      @media screen and (min-width: $desktop-breakpoint) {
        padding: 0.7rem;
      }
    }
  }

  .open {
    min-width: 10rem;
    width: 15vw;
    transform: translateX(0px, -200px);
    transition: width 0.5s transform 0.5s linear;
  }
  &__icon {
    position: absolute;
    top: 6.5rem;
    right: -3rem;
    background-color: $primary-color;
    padding: 0.5rem;
    height: 2rem;
    aspect-ratio: 1;
  }

  @media screen and (min-height: 450px) {
    padding-top: 2rem;
  }
}
