@use "../../assets/styles/variables" as *;

.side-filter {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary-color;
  transition: 0.5s;
  padding-top: 1rem;

  &__contents {
    width: 0;
    overflow-x: hidden;
    * {
      padding: 0.2rem;
      @media screen and (min-width: $tablet-breakpoint) {
        padding: 0.5rem;
      }
    }
  }

  .open {
    width: 10rem;
  }

  &__icon {
    position: absolute;
    top: 5rem;
    right: -3rem;
    background-color: $primary-color;
    padding: 0.5rem;
  }

  @media screen and (min-height: 450px) {
    padding-top: 2rem;
  }
}
