// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;

//colors
$primary-color: rgb(196, 188, 85);
$text-color: white;
$background-color: beige;
$secondary-color: olive;
